:root {
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

header {
    grid-column: 1 / 3;
    font-size: 2rem;
    margin-bottom: 4rem;
    text-align: center;
}

nav {
    font-size: 1.5rem;
}

ul {
    list-style: none;
}

li {
    margin: 1rem;
    cursor: pointer;
    user-select: none;
}

.task-form {
    display: none;
}

.checkmark {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    border: solid #000000 2px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

.high-priority-task {
    background-color: #ff0000;
}

.project-form {
    display: none;
}

.selected-project {
    background-color: #808080;
}